 body {
          background-color: var(--base-color);
          color: var(--primary-color);
        }
        .title {
          color: var(--primary-color);
          font-family: Inconsolata;
        }
        .TextInput {
          width: 100%;
          padding: 12px 3px;
          margin: 8px 0;
          box-sizing: border-box;
          border: 2px solid var(--primary-color);
          border-radius: 4px;
          background-color: var(--base-color);
          color: var(--primary-color);
          font-family: Inconsolata;
        }
        .TextInput:focus {
          outline: none;
          border: 3px solid var(--primary-color);
          padding: 11px 3px;
        }
        .TextInput::placeholder {
          opacity: 0.5;
          font-family: Inconsolata;
          color: var(--primary-color);
        }
        .TextInput:disabled {
          border: 2px solid var(--secondary-color);
          background-color: var(--disabled-color);
          cursor: not-allowed;
        }
        .inconsolata-font {
          font-family: "Inconsolata", serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
          font-variation-settings:
            "wdth"100;
        }
        .c-button {
          font-family: Inconsolata;
          appearance: none;
          border: 0;
          border-radius: 5px;
          background: var(--primary-color);
          color: var(--base-color);
          padding: 12px 46px;
          font-size: 16px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 38px;
        }

        .c-width {
         min-width: 100%;
        }

        .c-button:hover {
          background: var(--secondary-color);
        }

        .c-button:focus {
          outline: none;
          box-shadow: 0 0 0 4px var(--secondary-color);
        }

        /* The container */
        .hiddencheckbox {
          display: block;
          font-family: Inconsolata;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 16px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        /* Hide the browser's default checkbox */
        .hiddencheckbox input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        /* Create a custom checkbox */
        .Cbox {
          position: absolute;
          top: 0;
          left: 0;
          height: 18px;
          width: 18px;
          background-color: var(--base-color);
          border: 2px solid var(--primary-color);
          border-radius: 5px;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .Cbox:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        .hiddencheckbox input:checked~.Cbox:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        .hiddencheckbox .Cbox:after {
          left: 5px;
          top: 1px;
          width: 5px;
          height: 10px;
          border: solid var(--primary-color);
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        .disabled {
          background-color: var(--disabled-color);
          cursor: not-allowed;
        }

        .c-button:disabled {
          background: var(--secondary-color);
          cursor: not-allowed;
        }

        #UploadText {
          text-align: center;
          font-family: Inconsolata;
          width: 100%;
        }

        .FileInput {
          display: none;
        }

        #DisplayImage {
          margin-left: auto;
          margin-right: auto;
          display: block;
        }

        a:link {
          color: var(--primary-color);
        }

        a:hover {
          color: var(--secondary-color);
        }

        a:active {
          color: var(--primary-color);
        }
#arrow {
  display:flex;
  background: var(--primary-color);
  width:100%;
  outline: none;
  cursor: pointer;
  height: 38px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.arrowsym {
  border: solid var(--base-color);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.title2 {
	color: var(--primary-color);
	font-family: Inconsolata;
	font-size: 24px;
}
.blksqr {
	height:50px;
	width:50px;
	border: solid 3px var(--primary-color);
	border-radius: 10px;
	font-size:25px;
	background-color: var(--base-color);
	color:var(--primary-color);
	cursor: pointer;
}
